# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Node
node_modules/
npm-debug.log

# Ruby
.bundle/
vendor/

# 개인 노트 (선택)
_notes/
_drafts/

# 백업 파일
*.save
*.bak

# macOS
.DS_Store

# 기타
.vscode/
.idea/
