---
layout: home
adsense: false
---
{% assign documents = site.wiki | sort: 'updated' | reverse %}
<div id="app">
    <H3 class="indent">최근 변경된 문서</H3>
    <ul class="post-list">
{% for doc in documents %}{% if doc.public != false and doc.title != 'wiki' %}
        <li>
            <div>
                <a class="post-link" href="{{ doc.url }}">
                    <div class="post-meta">
                        {% if doc.updated %}
                        {{ doc.updated | date: "%Y.%m.%d" }} - 
                        {% elsif doc.date %}
                        {{ doc.date | date: "%Y.%m.%d" }} - 
                        {% endif %}
                        {{ doc.title }}
                    </div>
                    <div class="post-excerpt">{{ doc.summary }}</div>
        {% if doc.tag or doc.tags %}
                    <ul class="tag-list">
                    {% if doc.tag %}
                        {% assign tag_items = doc.tag | split: ' ' %}
                        {% for tag_item in tag_items %}
                        <li class="post-tag">{{ tag_item }}</li>
                        {% endfor %}
                    {% endif %}
                    {% if doc.tags %}
                        {% for tag_item in doc.tags %}
                        <li class="post-tag">{{ tag_item }}</li>
                        {% endfor %}
                    {% endif %}
                    </ul>
        {% endif %}
                </a>
            </div>
        </li>
{% endif %}{% endfor %}
    </ul>
</div>
{% include createLink.html %}
